.popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.add-form {
    z-index: 2;
    background-color: var(--white);
    width: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all .3s ease;
    animation: bounceIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hide-btn {
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
}

.hide-btn:hover {
    color: red;
}

.add-form div + div {
    margin-top: 10px;
}

.add-form h2 {
    margin: 0 0 10px;
}

.add-form__input {
    width: 100%;
    padding: 4px 5px;
    border-radius: 8px;
    border: 1px solid rgb(136, 136, 136);
    font-size: 1.2rem;
    resize: none;
}

.add-form__input:focus::placeholder {
    color: transparent;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(1, 1, 1, 0.5);
}