.empty {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    filter: opacity(0.5);
    animation: fadeIn .5s forwards;
}

.empty-img img {
    width: 150px;
}

.empty-title h1 {
    font-size: 2.3rem;
    font-weight: 900;
    letter-spacing: 2px;
}