.log-out {
    color: var(--white);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.log-out i {
    margin-right: 5px;
}

.log-out:hover {
    background-color: #626262;
}