.loginForm {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);

}

.login__title {
    padding-bottom: 1.2rem;
}

.errorText {
    color: red;
}

.errorText:before {
    content: "✕";
    margin-right: 10px;
}