.show__task {
    position: fixed;
    left: 30%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: var(--white);
    width: 600px;

    text-align: center;
    border-radius: 10px;
    transition: all .3s ease;
    animation: bounceIn 0.8s ease-out forwards;
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}

.show__task .task__wrapper {
    padding: 20px;
}

.show__task .task__wrapper p {
    padding: 20px 0;
    text-align: left;
}

.show__task .task__wrapper .hide-btn {
    top: 200px;
}

.hide-btn {
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
}

.hide-btn:hover {
    color: red;
}

.details {
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.details:hover {
    color: var(--blue);
}

#root > div > main > section > div.show__task > div.task__wrapper > p {
    overflow: scroll;
}